body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4f8;
    /* background-image: linear-gradient(to right, #8c5374, #985e5f, #936f57, #867f61, #7d8c77); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {

    background-image: linear-gradient(to right, #d3afdf, #eeaabb, #e8b09b, #cdbc90, #aac6a0);
    /* background-color: #ffffff; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1{
    color: #333;
    margin-bottom: 20px;
}

#score{
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

#main-container{
    margin-bottom: 20px;
}

#question{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.option{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;;
}


.controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.control-btn{
    padding: 10px 20px;
    background-color: rgb(95, 91, 91);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.control-btn:hover{
    background-color: rgb(59, 57, 57);
}

#result{
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}



@media (max-width: 768px) {
    #quiz-container {
        padding: 15px;
        max-width: 80%;
    }

    h1 {
        font-size: 1.25rem;
    }

    #question {
        font-size: 1.25rem;
    }

    .option {
        padding: 10px;
        font-size: 0.9rem;
    }

    .control-btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 1rem;
    }

    #question {
        font-size: 1rem;
    }

    .option {
        padding: 8px;
        font-size: 0.8rem;
    }

    .control-btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
}